[data-theme="blue"] {
  --color-primary-50: #e6f4ff;
  --color-primary-100: #bae0ff;
  --color-primary-200: #91caff;
  --color-primary-300: #69b1ff;
  --color-primary-400: #4096ff;
  --color-primary-500: #1677ff;
  --color-primary-600: #0958d9;
  --color-primary-700: #004fc4;
  --color-primary-800: #003eb3;
  --color-primary-900: #002c9c;
} 